.hwm__container {
    grid-template-columns: repeat(1, 270px);
    justify-content: center;
    column-gap: 1.8rem;
}

.hwm__content {
    position: relative;
    border: 2px solid rgba(71, 25, 23, 0.2);
    border-radius: 10px;
    padding: 6rem 0 2rem 2.5rem;
    background-color: var(--body-color);
}

.hwm__icon {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.hwm__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.hwm__button {
    color: white;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.6rem;
    cursor: pointer;
}

.hwm__button-icon {
    font-size: 1rem;
    transition: all 0.4s;
}

.hwm__button:hover .hwm__button-icon {
    transform: translateX(00.35rem);
}

.hwm__modal {
    background-color: rgba(48, 48, 48, 0.783);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.hwm__modal-close {
    position: absolute;
    top: 85%;
    right: 1.5rem;
    font-size: 3.6rem;
    color: var(--title-color);
    cursor: pointer;
}

.hwm__modal-title,
.hwm__modal-description {
    text-align: center;
    margin-bottom: 20px;
}

.hwm__img-container {
    display: flex;
    justify-content: space-around;
}

.hwm__img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hwm__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 40px;
}

.hwm__modal-description {
    font-size: 16px;
    color: white;
    margin-top: 30px;
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
}





.active-modal {
    opacity: 1;
    visibility: visible;
}